
body{
	background: #fff url(../images/l1.jpg) repeat top left;
	font-weight: 400;
	font-size: 15px;
	color: #1d3c41;
	overflow-y: scroll;
}

h1,h2,h3,h4,h5,h6 {
	font-size:140%;
	font-weight:normal;
}

}
.clr{
	clear: both;
}
.container > header{
	padding: 20px 30px 10px 30px;
	margin: 0px 20px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container > header h1{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	font-size: 35px;
	line-height: 35px;
	position: relative;
	font-weight: 400;
	color: rgba(26,89,120,0.9);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    padding: 0px 0px 5px 0px;
}
.container > header h1 span{
	color: #7cbcd6;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
.container > header h2{
	font-size: 16px;
	font-style: italic;
	color: #2d6277;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }

  .dropdown>a:link,a:hover{
    background-color: white !important;
  }

  .container-fluid{
  	padding: 0;
  }
  .navbar-default{
  	border:0;
  	padding: 20px 0 20px 0;
  	background-color: white;
  }
  .navbar-nav>li{
	margin: 12px 0 0 0;
  }

  a:link {
    color: #837E76 !important;
    text-decoration: none;
}

.btn-primary{
  width: 100%;
  background-color: rgb(61, 157, 179);
  border: 1px solid rgb(28, 108, 122);
  border-radius: 0;
}

.btn-info{
  background-color: #28ADD1;
}

.modal-body{
  padding: 10px 40px 40px 40px;
}
.modal-content{
  border-radius: 0;
}

.modal-header{
  border: 0;
}

th{
  background-color: #23BBEB;
  color: white;
}
.well{
  background-color: white;
}

.form-control{
  border-top: 0;
  border-right: 0;
  border-left: 0;
  box-shadow: none;
  border-radius: 0;
}

.btn-danger{
  border-radius: 0;
  border: 0;
}
.login-sample{
  width: 60%;
  height: auto;
  margin: auto;
  background-color: white;
  padding: 30px;
  box-shadow: 5px 5px 20px grey; 
}

.form-control:focus{
  border-color: #23BBEB;
  border-width: 3px;
  box-shadow: none;
}

.form-group{
  margin-top: 40px;
}

a:visited {
    color: #837E76 !important;
    text-decoration: none;
}

a:hover{
  color:#23BBEB !important;
}
.active{
	background-color: #23BBEB !important;
	border-color: #23BBEB !important;
}
.active>a{
  color: white !important;
}
.jumbotron{
	background-color: white;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
h1{
	margin: 0;
	padding: 0;
}

h3{
	color: #28ADD1;
}
.col-sm-6{
	padding: 0;
}
.invert-color{
	color: white !important;
}


footer{
  background-color: #28ADD1;
  color: white;
  padding: 20px;
  width: 100%;
  position: static;
  bottom: 0;
}

.parent-container{
  height: auto;
}
html,body{
  height: 100%;
}

.row{
  padding: 15px;
}

h4{
  color: #23BBEB;
}

.btn-warning{
  background-color: #23BBEB;
  color: white;
  border-radius: 0;
  width: 100%;
  border: 0;
}



.scrollToTop{
  width:50px; 
  height:50px;
  padding:10px; 
  text-align:center; 
  background: whiteSmoke;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  position:fixed;
  bottom:75px;
  right:40px;

}
.scrollToTop:hover{
  text-decoration:none;
}

label{
  color: gray;
}
.btn-default{
  border-radius: 0;
  border: 0;
}

p{
  font-size: 16px !important;
}

.validation-warning{
  color: #8A6D3B;
}

.validation-danger{
  color: red;
}

.social{
  position: fixed;
  left: 0;
  top: 40%;
}

.social>a{
  display: block;
  margin-top: 2px;
}

button{
  border: 0;
  background-color: white;
  padding: 0;
}
button:focus {outline:0 !important;}



@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }


